<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://www.instagram.com/jessica.amss/" target="_blank">
                        <img src="https://i.imgur.com/EuZyoOg.png" alt="instagram" width="30px" height="30px">
                    </a>
                     
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jessicamarquess/" target="_blank">
                        <img src="https://i.imgur.com/j9Sq5fV.png" alt="likedin" width="30px" height="30px">
                    </a>
                    
                </li>
                <li>
                    <a href="https://github.com/jessica-mss" target="_blank">
                        <img src="https://i.imgur.com/g5BTxKb.png" alt="GitHub" width="30px" height="30px">
                    </a>
                </li>

            </ul>
        </div>
    </div>>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">brasil.generation.org</a>
    </div>
</footer>>